<div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Manage Galleries</h1>
    <%= link_to "Create New Gallery", new_admin_gallery_path, class: "form-submit w-auto" %>
  </div>
  
  <div class="space-y-4"> 
    <% @galleries.each do |gallery| %>
      
      <div class="border rounded-lg bg-white shadow-lg p-0">
        
        <div class="grid grid-cols-1 md:grid-cols-3 divide-y md:divide-y-0 md:divide-x divide-gray-200">
          
          <div class="p-4 flex flex-col justify-between">
            <div>
              <h3 class="font-semibold text-xl text-gray-900 mb-1"><%= gallery.title %></h3>
              <p class="text-sm text-gray-600 line-clamp-3 mb-4"><%= gallery.description %></p>
            </div>
            
            <div class="flex space-x-4 mt-4">
              <%= link_to "Edit", edit_admin_gallery_path(gallery), class: "text-blue-600 hover:text-blue-800 font-medium text-sm" %>
              <%= link_to "Delete", admin_gallery_path(gallery),
                class: "text-red-600 hover:text-red-800 font-medium text-sm",
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
          
          <div class="md:col-span-2 flex overflow-hidden rounded-r-lg justify-center">
            
            <div class="grid grid-cols-3 gap-2 w-125 h-32 p-2">
                <% # Loop to show only the first 3 pictures (or less if the gallery has fewer) %>
                <% gallery.photos.take(3).each do |picture| %>
                    <div class="h-full w-full relative overflow-hidden rounded-md border-2 border-gray-300">
                        <%= image_tag picture.image.variant(resize_to_fill: [400, 300]), class: "object-cover h-full w-full" %>
                    </div>
                <% end %>
                
                
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
