<div class="form-wrapper">
  <div class="form-card">

    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.hidden_field :reset_password_token %>

      <div class="mb-4">
        <%= f.label :password, "New password", class: "form-label" %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-input" %>
      </div>

      <%= render 'shared/form_field', f: f, field: :password_confirmation %>

      <div class="mt-6">
        <%= f.submit "Change my password", class: "form-submit" %>
      </div>
    <% end %>

    <div class="text-sm text-center mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>